---
---

@import "{{ site.theme }}";

details {
    font-family: monospace;
    font-size: 0.8rem;
    color: #444;

    padding: 1rem;
    margin: 0 -1rem;

    &[open] {
        background: #fafafa;
        border-radius: 4px;
    }

    summary {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1em;
        font-weight: bold;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }

    .markdown-body & + p {
        margin-top: 16px;
    }
}

.logo {
    // Font size 3
    @include f3-responsive();
    font-weight: 100;
    letter-spacing: 0.02em;

    text-shadow: 1px 1px 2px rgba($red-500, 0.5);
    color: white;
    background-color: $green-500;

    border-radius: $border-radius;

    padding: nth($spacers, 2) nth($spacers, 3);
}
